<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="~{fragments/sidebar :: head('Dashboard - RestoControl')}"></head>
    
    <body>
        <div class="layout">
            
            <div th:replace="~{fragments/sidebar :: sidebar}"></div>

            <div class="main-content">
                <main class="p-4 p-md-5">
                    <h2>Pedidos</h2>
                    </main>
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <script th:src="@{/js/logout.js}"></script>
    </body>
</html>